@import 'utils/variables/variables';
@import 'utils/mixins/mixins';
@import 'utils/extends/extends';
@import 'bases/bases';


header{
    background-color: $primaryColor;
    > nav {
        color: $textColor;
        width: 500px;
        ~ img {
            height: 300px;
            width: 500px;
        }
    }
}

.article{
    border: solid 2px black;
    &__h3{
        text-decoration: underline;
        color: $secondaryColor;
        &--active{
            color: red;
        }
    }
}

.card{
    &__title{
        @include bigTitle;
    }
}

.socialNetwork {
    @extend %flexCard;
}

.cardList {
    @extend %flexCard;
}