html{
    background: radial-gradient(circle at center top, #CCDAE0, #EDF2F4);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    text-align: center;
}

h1{
    color: #EF233C;
    font-size: 4vh;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    color: #2B2D42;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline dotted;
}

article{
    border: solid 1px black;
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #8D99AE;
}

footer{
    display: flex;
    justify-content: end;
}

ul{
    list-style-type: none;
}

a:link{
    color: #D90429
}

a:visited{
    color: grey;
}

a:hover{
    color: #2B2D42;
}

span{
    color: red;
}
    

